---
import { Image } from "astro:assets";

import img1 from "../assets/desktop-image-hero-1.jpg";
import img2 from "../assets/desktop-image-hero-2.jpg";
import img3 from "../assets/desktop-image-hero-3.jpg";
import img1Mobile from "../assets/mobile-image-hero-1.jpg";
import img2Mobile from "../assets/mobile-image-hero-2.jpg";
import img3Mobile from "../assets/mobile-image-hero-3.jpg";
import ArrowLeft from "../assets/icon-angle-left.svg";
import ArrowRight from "../assets/icon-angle-right.svg";
---

<section>
  <div class="carousel">
    <ul id="carousel-track" class="carousel-track">
      <li class="slide">
        <Image
          src={img1}
          alt="slide 1"
          class="hidden h-full w-full object-cover object-[50%_30%] sm:block"
          decoding="async"
          loading="eager"
        />
        <Image
          src={img1Mobile}
          alt="slide 1"
          class="h-full w-full object-cover object-bottom sm:hidden"
          decoding="async"
          loading="eager"
        />
      </li>
      <li class="slide">
        <Image
          src={img2}
          alt="slide 2"
          class="hidden h-full w-full object-cover object-[50%_30%] sm:block"
          decoding="async"
          loading="eager"
        />
        <Image
          src={img2Mobile}
          alt="slide 2"
          class="h-full w-full object-cover object-bottom sm:hidden"
          decoding="async"
          loading="eager"
        />
      </li>
      <li class="slide">
        <Image
          src={img3}
          alt="slide 3"
          class="hidden h-full w-full object-cover object-[50%_30%] sm:block"
          decoding="async"
          loading="eager"
        />
        <Image
          src={img3Mobile}
          alt="slide 3"
          class="h-full w-full object-cover object-bottom sm:hidden"
          decoding="async"
          loading="eager"
        />
      </li>
    </ul>

    <div class="carousel-controls">
      <button id="prev" aria-label="Previous Slide">
        <ArrowLeft />
      </button>
      <button id="next" aria-label="Next Slide">
        <ArrowRight />
      </button>
    </div>
  </div>
</section>

<style>
  .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-out;
    height: 100%;
  }

  .slide {
    flex: 0 0 100%;
    height: 400px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .carousel-controls {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    display: flex;
  }

  .carousel-controls button {
    background-color: #000000;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 1.75rem 2.125rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .carousel-controls button:hover {
    background-color: #000;
  }

  @media (width < 376px) {
    .carousel-track {
      max-width: 375px;
      height: 366px;
    }
    .slide {
      height: 360px;
    }
  }
</style>
<script>
  const prevButton = document.getElementById("prev") as HTMLButtonElement;
  const nextButton = document.getElementById("next") as HTMLButtonElement;
  const track = document.getElementById("carousel-track") as HTMLUListElement;

  let currentIndex = 0;
  const slides = track.querySelectorAll("li");
  const totalSlides = slides.length;

  function updateCarouselPosition() {
    const slideWidth = slides[0].clientWidth;
    track.style.transform = `translateX(-${currentIndex * slideWidth}px)`;
  }

  prevButton.addEventListener("click", () => {
    if (currentIndex > 0) {
      currentIndex--;
      updateCarouselPosition();
    }
  });

  nextButton.addEventListener("click", () => {
    if (currentIndex < totalSlides - 1) {
      currentIndex++;
      updateCarouselPosition();
    }
  });
</script>
