---
import CreationCard from "../components/CreationCard.astro";
import imageDeepEarthMobile from "../assets/mobile/image-deep-earth.jpg";
import imageNightArcadeMobile from "../assets/mobile/image-night-arcade.jpg";
import imageNightSoccerMobile from "../assets/mobile/image-soccer-team.jpg";
import imageDeepEarthDesktop from "../assets/desktop/image-deep-earth.jpg";
import imageNightArcadeDesktop from "../assets/desktop/image-night-arcade.jpg";
import imageNightSoccerDesktop from "../assets/desktop/image-soccer-team.jpg";
import imageGridDesktop from "../assets/desktop/image-grid.jpg";
import imageGridMobile from "../assets/mobile/image-grid.jpg";
import imageFromAboveDesktop from "../assets/desktop/image-from-above.jpg";
import imageFromAboveMobile from "../assets/mobile/image-from-above.jpg";
import imagePocketBorealisDesktop from "../assets/desktop/image-pocket-borealis.jpg";
import imagePocketBorealisMobile from "../assets/mobile/image-pocket-borealis.jpg";
import imageCuriosityDesktop from "../assets/desktop/image-curiosity.jpg";
import imageCuriosityMobile from "../assets/mobile/image-curiosity.jpg";
import imageFisheyeDesktop from "../assets/desktop/image-fisheye.jpg";
import imageFisheyeMobile from "../assets/mobile/image-fisheye.jpg";
---

<section
  class="mb-[86px] flex flex-col items-center px-6 lg:px-[5rem] xl:px-[160px]"
>
  <div
    class="xl:mb-[80px] xl:flex xl:w-full xl:items-center xl:justify-between"
  >
    <h2
      class="mb-12 text-[clamp(2rem,4vw,3rem)] leading-[100%] font-light uppercase lg:max-w-[445px] xl:mb-0"
    >
      Our creations
    </h2>
    <a
      href="#"
      class="text-alata hidden items-center justify-center border-2 border-black px-10 py-[0.8125rem] text-sm leading-[100%] tracking-[5px] uppercase transition-colors duration-300 ease-in-out hover:border-white hover:bg-black hover:text-white xl:flex"
      >see all</a
    >
  </div>
  <div class="mb-8 grid w-full gap-6 lg:grid-cols-4">
    <CreationCard
      title="deep earth"
      linkImgMobile={imageDeepEarthMobile}
      linkImgDesktop={imageDeepEarthDesktop}
    />
    <CreationCard
      title="night arcade"
      linkImgMobile={imageNightArcadeMobile}
      linkImgDesktop={imageNightArcadeDesktop}
    />
    <CreationCard
      title="soccer team vr"
      linkImgMobile={imageNightSoccerMobile}
      linkImgDesktop={imageNightSoccerDesktop}
    />
    <CreationCard
      title="the grid"
      linkImgMobile={imageGridMobile}
      linkImgDesktop={imageGridDesktop}
    />
    <CreationCard
      title="from up above vr"
      linkImgMobile={imageFromAboveMobile}
      linkImgDesktop={imageFromAboveDesktop}
    />
    <CreationCard
      title="pocket borealis"
      linkImgMobile={imagePocketBorealisMobile}
      linkImgDesktop={imagePocketBorealisDesktop}
    />
    <CreationCard
      title="the curiosity"
      linkImgMobile={imageCuriosityMobile}
      linkImgDesktop={imageCuriosityDesktop}
    />
    <CreationCard
      title="make it fisheye"
      linkImgMobile={imageFisheyeMobile}
      linkImgDesktop={imageFisheyeDesktop}
    />
  </div>
  <a
    href="#"
    class="text-alata flex items-center justify-center border-2 border-black px-10 py-[0.8125rem] text-sm leading-[100%] tracking-[5px] uppercase transition-colors duration-300 ease-in-out hover:border-white hover:bg-black hover:text-white xl:hidden"
    >see all</a
  >
</section>
